USE [master]
GO
/****** Object:  Database [AspFinal]    Script Date: 1/10/2019 2:55:32 AM ******/
CREATE DATABASE [AspFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AspFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AspFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AspFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AspFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AspFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AspFinal]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Text] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[Categ] [nvarchar](max) NULL,
	[SmallImage] [nvarchar](max) NULL,
	[BigImage] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryServices]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryServices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CategoryServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentPhotoes]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentPhotoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommentId] [int] NOT NULL,
	[Photo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.CommentPhotoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Rating] [tinyint] NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[PhotoName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Photos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Places]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Places](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [bit] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Slogan] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[Lat] [nvarchar](max) NULL,
	[Lng] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
	[Keyword] [nvarchar](max) NULL,
	[Youtube] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Places] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceServices]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceServices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PlaceServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reactions]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommentId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Type] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.Reactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkHours]    Script Date: 1/10/2019 2:55:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[WeekNo] [int] NOT NULL,
	[OpenHour] [time](7) NOT NULL,
	[CloseHour] [time](7) NOT NULL,
 CONSTRAINT [PK_dbo.WorkHours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Fullname], [Email], [Password]) VALUES (1, N'Ruslan Barzigyar', N'ruslantb@code.edu.az', N'APerqPEH7siYnK9u55wKGk3B0iemSg2Bawtbzi2zwCIGDJ31UYjMe8mJwKTHnmqAmQ==')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Blogs] ON 

SET IDENTITY_INSERT [dbo].[Blogs] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Icon]) VALUES (1, N'Real Estate', N'fa fa-home')
INSERT [dbo].[Categories] ([Id], [Name], [Icon]) VALUES (2, N'Restaurant', N'fa fa-cutlery')
INSERT [dbo].[Categories] ([Id], [Name], [Icon]) VALUES (3, N'Health & Fitness', N'fa fa-heart')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[CategoryServices] ON 

INSERT [dbo].[CategoryServices] ([Id], [CategoryId], [ServiceId]) VALUES (1002, 1, 1)
INSERT [dbo].[CategoryServices] ([Id], [CategoryId], [ServiceId]) VALUES (1003, 1, 2)
INSERT [dbo].[CategoryServices] ([Id], [CategoryId], [ServiceId]) VALUES (1004, 1, 5)
SET IDENTITY_INSERT [dbo].[CategoryServices] OFF
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name], [Photo]) VALUES (1, N'Baku', NULL)
INSERT [dbo].[Cities] ([Id], [Name], [Photo]) VALUES (2, N'Agdash', NULL)
INSERT [dbo].[Cities] ([Id], [Name], [Photo]) VALUES (3, N'Agjabadi', NULL)
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[CommentPhotoes] ON 

INSERT [dbo].[CommentPhotoes] ([Id], [CommentId], [Photo]) VALUES (1, 3, N'20190106151302290IMG_0521.JPG')
INSERT [dbo].[CommentPhotoes] ([Id], [CommentId], [Photo]) VALUES (2, 3, N'20190106151302397b0bb8bd3-8fcf-4893-9266-601ea9e89a54_veb-dizayn-ve-qrafika-kim.jpg')
INSERT [dbo].[CommentPhotoes] ([Id], [CommentId], [Photo]) VALUES (3, 5, N'20190106155102002green14.jpg')
SET IDENTITY_INSERT [dbo].[CommentPhotoes] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[Photos] ON 

INSERT [dbo].[Photos] ([Id], [PlaceId], [PhotoName]) VALUES (27, 46, N'2018123109241831894d3b585-11d9-4db6-877d-2612a24a7f11_code-academy.jpg')
INSERT [dbo].[Photos] ([Id], [PlaceId], [PhotoName]) VALUES (28, 46, N'201812310924183353efee9cb-896b-4c23-bbd9-4a2ba62d7f7a_sistem-administratorlugu-kim.jpg')
INSERT [dbo].[Photos] ([Id], [PlaceId], [PhotoName]) VALUES (29, 46, N'201812310924183409e5c4537-a456-47fa-859c-820c0debdbdd_proqramlasdirma.jpg')
SET IDENTITY_INSERT [dbo].[Photos] OFF
SET IDENTITY_INSERT [dbo].[Places] ON 

SET IDENTITY_INSERT [dbo].[Places] OFF
SET IDENTITY_INSERT [dbo].[PlaceServices] ON 

INSERT [dbo].[PlaceServices] ([Id], [PlaceId], [ServiceId]) VALUES (5, 46, 16)
INSERT [dbo].[PlaceServices] ([Id], [PlaceId], [ServiceId]) VALUES (6, 46, 23)
INSERT [dbo].[PlaceServices] ([Id], [PlaceId], [ServiceId]) VALUES (7, 47, 12)
SET IDENTITY_INSERT [dbo].[PlaceServices] OFF
SET IDENTITY_INSERT [dbo].[Reactions] ON 

INSERT [dbo].[Reactions] ([Id], [CommentId], [UserId], [Type]) VALUES (1, 3, 1, 2)
INSERT [dbo].[Reactions] ([Id], [CommentId], [UserId], [Type]) VALUES (2, 4, 1, 1)
INSERT [dbo].[Reactions] ([Id], [CommentId], [UserId], [Type]) VALUES (3, 5, 1, 2)
SET IDENTITY_INSERT [dbo].[Reactions] OFF
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [Name]) VALUES (1, N'Alarm system')
INSERT [dbo].[Services] ([Id], [Name]) VALUES (2, N'Depanneur in building')
INSERT [dbo].[Services] ([Id], [Name]) VALUES (3, N'Onsite management
')
SET IDENTITY_INSERT [dbo].[Services] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Fullname], [Email], [Password]) VALUES (1, N'Ruslan Berz', N'ruslan.berz@gmail.com', N'APerqPEH7siYnK9u55wKGk3B0iemSg2Bawtbzi2zwCIGDJ31UYjMe8mJwKTHnmqAmQ==')
INSERT [dbo].[Users] ([Id], [Fullname], [Email], [Password]) VALUES (2, N'Kamran Mirzeyev', N'kamranam@code.edu.az', N'AMGM+isYofoDYEWqrgc0EFH7HFqvsTuQ1qMzPDfK8DEVPPOR5OI6+qheB4jJOJhP9w==')
INSERT [dbo].[Users] ([Id], [Fullname], [Email], [Password]) VALUES (3, N'Yolchu Nasib', N'yolchu@code.edu.az', N'ACPMH8n0IhE8Bq46dwKNxpjcQDD4Krd1z8fYgyYLjD//q1gJdQA8NAlAyZnbMldZ0w==')
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[WorkHours] ON 

INSERT [dbo].[WorkHours] ([Id], [PlaceId], [WeekNo], [OpenHour], [CloseHour]) VALUES (25, 46, 1, CAST(N'09:00:00' AS Time), CAST(N'22:00:00' AS Time))
INSERT [dbo].[WorkHours] ([Id], [PlaceId], [WeekNo], [OpenHour], [CloseHour]) VALUES (26, 46, 2, CAST(N'09:00:00' AS Time), CAST(N'22:00:00' AS Time))
INSERT [dbo].[WorkHours] ([Id], [PlaceId], [WeekNo], [OpenHour], [CloseHour]) VALUES (27, 46, 3, CAST(N'09:00:00' AS Time), CAST(N'22:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[WorkHours] OFF
/****** Object:  Index [IX_CategoryId]    Script Date: 1/10/2019 2:55:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[CategoryServices]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceId]    Script Date: 1/10/2019 2:55:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceId] ON [dbo].[CategoryServices]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentId]    Script Date: 1/10/2019 2:55:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_CommentId] ON [dbo].[CommentPhotoes]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlaceId]    Script Date: 1/10/2019 2:55:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_PlaceId] ON [dbo].[Comments]
(
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/10/2019 2:55:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Comments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlaceId]    Script Date: 1/10/2019 2:55:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_PlaceId] ON [dbo].[Photos]
(
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 1/10/2019 2:55:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Places]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityId]    Script Date: 1/10/2019 2:55:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[Places]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/10/2019 2:55:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Places]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlaceId]    Script Date: 1/10/2019 2:55:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_PlaceId] ON [dbo].[PlaceServices]
(
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceId]    Script Date: 1/10/2019 2:55:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceId] ON [dbo].[PlaceServices]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentId]    Script Date: 1/10/2019 2:55:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_CommentId] ON [dbo].[Reactions]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/10/2019 2:55:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Reactions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlaceId]    Script Date: 1/10/2019 2:55:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_PlaceId] ON [dbo].[WorkHours]
(
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CategoryServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryServices_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryServices] CHECK CONSTRAINT [FK_dbo.CategoryServices_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[CategoryServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryServices_dbo.Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryServices] CHECK CONSTRAINT [FK_dbo.CategoryServices_dbo.Services_ServiceId]
GO
ALTER TABLE [dbo].[CommentPhotoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommentPhotoes_dbo.Comments_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentPhotoes] CHECK CONSTRAINT [FK_dbo.CommentPhotoes_dbo.Comments_CommentId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Places_PlaceId] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Places] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Places_PlaceId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Photos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Photos_dbo.Places_PlaceId] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Places] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Photos] CHECK CONSTRAINT [FK_dbo.Photos_dbo.Places_PlaceId]
GO
ALTER TABLE [dbo].[Places]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Places_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Places] CHECK CONSTRAINT [FK_dbo.Places_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Places]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Places_dbo.Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Places] CHECK CONSTRAINT [FK_dbo.Places_dbo.Cities_CityId]
GO
ALTER TABLE [dbo].[Places]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Places_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Places] CHECK CONSTRAINT [FK_dbo.Places_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[PlaceServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PlaceServices_dbo.Places_PlaceId] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Places] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaceServices] CHECK CONSTRAINT [FK_dbo.PlaceServices_dbo.Places_PlaceId]
GO
ALTER TABLE [dbo].[PlaceServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PlaceServices_dbo.Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaceServices] CHECK CONSTRAINT [FK_dbo.PlaceServices_dbo.Services_ServiceId]
GO
ALTER TABLE [dbo].[Reactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reactions_dbo.Comments_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reactions] CHECK CONSTRAINT [FK_dbo.Reactions_dbo.Comments_CommentId]
GO
ALTER TABLE [dbo].[Reactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reactions_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reactions] CHECK CONSTRAINT [FK_dbo.Reactions_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[WorkHours]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WorkHours_dbo.Places_PlaceId] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Places] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkHours] CHECK CONSTRAINT [FK_dbo.WorkHours_dbo.Places_PlaceId]
GO
USE [master]
GO
