<!--============================= SUBPAGE HEADER BG =============================-->

<section class="subpage-bg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="title-block title-block_subpage">
                    <h2>Our Official Blog</h2>
                    <p><a href="@Url.Action("index","home")"> Home</a> / Blog</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--// SUBPAGE HEADER BG -->
<!--============================= BLOG 2 =============================-->

<section class="main-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-3 article-first">
                <div class="news-block">
                    <img src="https://via.placeholder.com/960x1028.jpg" alt="#" class="img-fluid">
                    <div class="news-title">
                        <p>Nov 19, 2018 • Restaurants</p>
                        <h5>How to choose top-notch restaurants</h5>
                        <p class="blog2-thumbnail-name">By Ankita Luthar</p>

                        <a href="blog-detail.html" class="blog2-link">Read More ➝</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 article-first">
                <div class="news-block">
                    <img src="https://via.placeholder.com/960x1028.jpg" alt="#" class="img-fluid">
                    <div class="news-title">
                        <p>Nov 19, 2018 • Travelling</p>
                        <h5>Traveling alone? Remember this 5 useful tips</h5>
                        <p class="blog2-thumbnail-name">By Ankita Luthar</p>

                        <a href="blog-detail.html" class="blog2-link">Read More ➝</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 article-first">
                <div class="news-block">
                    <img src="https://via.placeholder.com/960x1028.jpg" alt="#" class="img-fluid">
                    <div class="news-title">
                        <p>Nov 19, 2018 • Culture</p>
                        <h5>What culture says about your country?</h5>
                        <p class="blog2-thumbnail-name">By Ankita Luthar</p>

                        <a href="blog-detail.html" class="blog2-link">Read More ➝</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 article-first">
                <div class="news-block">
                    <img src="https://via.placeholder.com/960x1028.jpg" alt="#" class="img-fluid">
                    <div class="news-title">
                        <p>Nov 19, 2018 • Events</p>
                        <h5>World’s biggest hard-rock band visting Boston</h5>
                        <p class="blog2-thumbnail-name">By Ankita Luthar</p>

                        <a href="blog-detail.html" class="blog2-link">Read More ➝</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row blog2-block">
            <div class="col-md-6 col-lg-3 article-first">
                <div class="news-block">
                    <img src="https://via.placeholder.com/960x1028.jpg" alt="#" class="img-fluid">
                    <div class="news-title">
                        <p>Nov 19, 2018 • Travelling</p>
                        <h5>A getaway to lonely Island of Maldives</h5>
                        <p class="blog2-thumbnail-name">By Ankita Luthar</p>

                        <a href="blog-detail.html" class="blog2-link">Read More ➝</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 article-first">
                <div class="news-block">
                    <img src="https://via.placeholder.com/960x1028.jpg" alt="#" class="img-fluid">
                    <div class="news-title">
                        <p>Nov 19, 2018 • Restaurants</p>
                        <h5>My favorite Italian cuisine you're gonna love</h5>
                        <p class="blog2-thumbnail-name">By Ankita Luthar</p>

                        <a href="blog-detail.html" class="blog2-link">Read More ➝</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 article-first">
                <div class="news-block">
                    <img src="https://via.placeholder.com/960x1028.jpg" alt="#" class="img-fluid">
                    <div class="news-title">
                        <p>Nov 19, 2018 • Events</p>
                        <h5>Electric band show at Amsterdam</h5>
                        <p class="blog2-thumbnail-name">By Ankita Luthar</p>

                        <a href="blog-detail.html" class="blog2-link">Read More ➝</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 article-first">
                <div class="news-block">
                    <img src="https://via.placeholder.com/960x1028.jpg" alt="#" class="img-fluid">
                    <div class="news-title">
                        <p>Nov 19, 2018 • Culture</p>
                        <h5>Different Countries and the taste of food</h5>
                        <p class="blog2-thumbnail-name">By Ankita Luthar</p>

                        <a href="blog-detail.html" class="blog2-link">Read More ➝</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--//END BLOG -->