USE [master]
GO
/****** Object:  Database [Asp-Final]    Script Date: 12/24/2018 4:48:04 PM ******/
CREATE DATABASE [Asp-Final]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Asp-Final', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Asp-Final.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Asp-Final_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Asp-Final_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Asp-Final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Asp-Final]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/24/2018 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[ProfilePicture] [nvarchar](250) NULL,
	[GroupId] [int] NULL,
	[Username] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Fullname], [Email], [Password], [ProfilePicture], [GroupId], [Username]) VALUES (3, N'Ruslan Barzigyar', N'ruslan.berz@gmail.com', N'123', NULL, NULL, N'ruslan')
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
